.about_me img{
    display: none;
}

.about_me{
    /* background-color: chartreuse; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:2%;
    margin-bottom:2%;

    width: 100%;

    background-color: white;

    
}

.about_me h1{
    margin-top:5%;
    color: var(--typeface_color1);
}
.about_me h2{
    text-align: left;
    color: var(--typeface_color1);
}

.toggleArea{
    /* background-color:cornflowerblue; */

    /* display: block; */
    padding-bottom: 20px;
    width:85%;
}

.about_content{
    /* background-color: darkgoldenrod; */
    /* display: block; */
    width:85%;  
    font-size: 1.2rem;
    padding-bottom: 20px;

}

#showOrHide{
    display: block;
}

#toggleImage{
    transform: rotate(90deg);
}


@media (max-width: 800px) {

    .about_me h1{
        margin-top:10%;
        color: var(--accent_color);
    }

}