*{
    margin: 0;
    padding: 0;
    
}
html{
    scroll-behavior: smooth;
}

    .about h1{
        font-size: 33px;
        padding-bottom: 12px;
        color: #f1356d;
    }

    .about{
        /* width: 100%; */
        width: 100vw;
        height: 100vh;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top:5px;
        /* background-color: red; */
    }




    .container {
        width: 30%;
        height: 50%;
        /* background-color: blue; */

        display: flex;
        align-items: center;
        justify-content: center;
        margin:auto;
    }



    .circle {
        position: relative;
        width: 80%;
        height: 0%;
        padding: 80% 0 0;
        border-radius: 50%;
        overflow: hidden;
        /* border: 1px solid gray; */

    }

    .circle img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .introduction{
        padding-top: 10px;
        margin-top: 0px;
        padding-right: 5%;
        padding-left: 5%;
        width: 100%;
        /* width: 70%; */
        /* background-color: cadetblue; */
    }

    .introduction bold{
        font-size: 1.6rem;
        /* color:var(--accent_color); */
    }

    .introduction p{
        font-size: 1.2rem;
    }


    @media all and (max-width: 768px) {
        .about {
            width: 100%;
            flex-direction: column;

            margin-top:5px;

        }

        .container{
            margin-top: 2%;
            /* margin-top: 5%; */
            margin-right: 5%;
            margin-left: 5%;
            width:100%;
            height: 60%;
        }

        .circle{
            width: 60%;
            /* padding: 90% 0 0; */
            padding: 50% 0 0;
        }

        .circle img {
            width: 100%;
            height: 100%;
        }

        #about h1{
            padding-bottom: 0;
        }


        .introduction{
            padding-top: 0px;
            margin-top: 0px;
            padding-right: 5%;
            padding-left: 5%;
            width: 100%;
            height: 100%;
        }

        .introduction bold{
            font-size: 1rem;
            /* color:orange; */
        }

        .introduction p{
            font-size: 0.8rem;
        }

    }